/* Challenge 1 + 2 + 3 */
.container-1, .container-2, .container-3{
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}
/* Challenge 1 + 2 + 3 */
.flex-box-container-1, .flex-box-container-2, .flex-box-rps  {
    border: 1px solid black;
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Challenge 1 */
.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}
/* Challenge 2 */
.flex-box-container-2 img{
    border: 1px solid green;
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}
/* Challenge 3 */
.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

